body {
  background-color: lightblue;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  margin: 20px;
}

#header > #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  background-color: green;
  margin: 10px;
}

#header > #logo > #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  margin: 10px;
  height: 50px;
  width: 50px;
}

#header > #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  margin: 10px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#left_content > #picture {
  width: 50vw;
}

#right_content {
  width: 50vw;
}
#right_content > #page_title {
  font-size: 50px;
  text-align: center;
  background-color: blue;
}
#right_content > #about_me {
  text-align: center;
  font-size: 20px;
  background-color: yellow;
}

#footer {
  background-color: grey;
  height: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 10px;
}

#footer > #logo {
  height: 100%;
  width: 100vw;
  object-fit: contain;
}
#footer > #socials {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  object-fit: contain;
}
